/* App.css */

.App {
  text-align: center;
  background-color: #73877B;
  min-height: 100vh;
}

/* ShoppingList.css */

.meal-list-app-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-list-container {
  width: 100%;
  max-width: 600px;
}

.meal-list {
  width: 100%;
  border-radius: 10px;
  background-color: #79ADDC;
  list-style: none;
  padding: 10px 0;
  text-align: center;
}

.meal-list li:nth-child(even) {
  background-color: #ADF7B6;
}

.meal-list li {
  width: 95%;
  margin: 0 auto;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #DDFBD2;
}

.control-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.add-button,
.clear-button,
.generate-button {
  width: 100% !important;
  margin: 5px 0 !important;
  background-color: #FFEE93 !important;
  border: none;
  cursor: pointer;
  border-radius: 30px !important;
}

.error-label {
  position: ;
}

/* TODO Delete????? */

/* Add meal pop-up */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
  z-index: 1000;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.ui.icon.input {
  width: 100%;
}

.actions {
  margin: 14px auto 0 auto;
}

.ui.green.button,
.ui.red.button,
.ui.teal.button {
  border-radius: 20px;
  width: 75%;
  margin-bottom: 15px;
}

/* DO NOT REMOVE. Otherwise the Semantic UI dimmer has a weird black background that I can't seem to manipulate...*/
#add-meal-modal {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Also do not remove... Similar reason as above */
.ui.modal.transition.visible.active {
  box-shadow: none !important;
}

.results.transition.visible {
  width: 100% !important;
}

.meal-search-result-name {
  text-align: center;
}

.meal-search-result-desc {
  text-align: right;
}

.message.empty .header::after {
  content: ' Consider adding a new meal.';
}

.ui.labeled.input {
  width: 100%;
}

.input-label {
  width: 100%;
}

/* New Meal modal */

.create-meal-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  overflow: auto;
}

.meal-details-label {
  margin-top: 10px !important;
  min-width: 25% !important;
  max-width: 50% !important;
  font-size: 18px !important;  
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
}

.meal-details-input {
  width: 100% !important;
  font-size: 18px !important;
}

.ingredient-adder {
  display: flex;
  flex-direction: column;
}

.ingredient-details-label {
  margin-top: 10px !important;
  min-width: 25% !important;
  max-width: 50% !important;
  font-size: 16px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
}

.meal-header-label {
  margin-bottom: 10px;
}

.meal-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 10px 0 !important;
  border-bottom: 1px solid #ccc !important; /* TODO: keep/remove? */
}

.ingredient-adder .control-buttons {
  margin-top: 10px;
}

/* Centred */
.meal-details {
  flex-grow: 1;
}

.meal-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 2px;
}

.edit-button {
  margin-bottom: 5px !important;
}

/* Shopping List Styles */
.shopping-list-app-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-list-container {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
  max-width: 600px;
}

.shopping-list {
  width: 100%;
  border-radius: 10px;
  /* background-color: #79ADDC; */
  list-style: none;
  padding: 10px 0;
  text-align: center;
}

.shopping-list-inactive {
  opacity: 20%;
}

.shopping-list-inactive  li {
  background-color: teal;
}

.shopping-list li:nth-child(even) {
  background-color: #ADF7B6;
}

.shopping-list li {
  width: 95%;
  margin: 2px auto;
  border-radius: 5px;
  background-color: #DDFBD2;
}

.shopping-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0.2vh 0 !important;
  border-bottom: 1px solid #ccc !important;
}

.shopping-details {
  flex: 1;
}

.shopping-details p {
  margin-top: -5px; /* Decide on exact spacing */
}

.shopping-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2px;
}

.shopping-checkbox {
  margin-left: 25px;
  width: 18px;
  height: 18px;
}

/* New Shopping List Item Modal */

.ingredient-adder-unit {
  font-size: 18px !important;
  line-height: 22px !important; /* Decide on this. This just matches the other default sytlings on modal */
}

.shopping-button {
  width: 95% !important;
}